.blog-card-columns .column {
  display: flex;
  flex-direction: column;

  > a {
    flex-grow: 1;
  }
}

.blog-card {
  display: block;
  text-decoration: none;
}

.blog-card .card {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: var(--bulma-scheme-main-ter);
  box-shadow: unset;
  transition: transform var(--bulma-duration) ease-in-out, background-color var(--bulma-duration) ease-in-out;
}

@media (hover: hover) {
  .blog-card:hover .card {
    background-color: var(--bulma-background-hover);
    transform: translateY(-5px);
  }
}

.blog-card .card-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.blog-card .title {
  margin-bottom: 0.75rem !important;
}

.blog-card .content {
  margin-top: 0.75rem;
  margin-bottom: 0;
}

.blog-card-go {
  flex-grow: 1;
  display: flex;
  align-items: end;
  p {
    color: var(--bulma-link-text);
  }
}

.blog-card-go span {
  transition: padding var(--bulma-duration) ease-in-out;
}

@media (hover: hover) {
  .blog-card:hover .blog-card-go span {
    padding-left: 0.5rem;
  }
}
