// Sticky footer

.main-content-parent {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

html.has-navbar-fixed-top .main-content-parent {
  min-height: calc(100vh - var(--bulma-navbar-height));
}

.main-content {
  flex: 1;
}

.social-links {
  --bulma-link-text: var(--bulma-link-text-hover)
}
