@media screen and (min-width: 769px) {
  .centered-on-tablet {
    text-align: center !important;
  }
}

.landing-title {
  font-size: 5rem;
  @media screen and (max-width: 768px) {
    font-size: 4rem;
  }
}

.landing-title-oly {
  color: #fcfcfc;
  margin-left: 0;
}

.landing-title-prep {
  color: #e97d28;
  margin-right: 0;
}

.landing-subtitle {
  margin-top: 1.5em;
  font-size: 1.375rem;
  line-height: 1.5;
  @media screen and (min-width: 769px) {
    margin-inline: auto;
    font-size: 1.5rem;
    max-width: 32ch;
  }
}

.landing-button {
  padding: 0.75rem 1.5rem;
  margin-top: 0.5em;
  transition: padding var(--bulma-duration) ease-in-out;
}

.landing-button > span {
  transition: padding var(--bulma-duration) ease-in-out;
}

@media (hover: hover) {
  .landing-button:hover {
    padding-right: 1rem;
  }

  .landing-button:hover > span {
    padding-left: 0.5rem;
  }
}

.home-section-title {
  font-size: 2.75rem;
  @media screen and (max-width: 768px) {
    font-size: 2.5rem;
  }
}

.home-tracks-section {
  scroll-margin-top: var(--bulma-navbar-height);
}

.home-track-grid > .grid {
  --bulma-grid-gap: 2rem;
  @media screen and (max-width: 768px) {
    --bulma-grid-column-count: 1;
  }
  @media screen and (max-width: 1023px) {
    --bulma-grid-gap: 1.5rem;
  }
}

.home-track-card {
  display: flex;
  min-height: 12.5em;
  background-color: var(--bulma-scheme-main-ter);
  transition: background-color var(--bulma-duration) ease-in-out, transform var(--bulma-duration) ease-in-out;
  box-shadow: unset;
}

@media (hover: hover) {
  .home-track-card:hover {
    transform: translateY(-0.5em);
    background-color: var(--bulma-background-hover);
  }
}

.home-track-grid .grid-cell {
  display: flex;
  flex-direction: column;

  > a {
    flex-grow: 1;

    > .home-track-card {
      height: 100%;
    }
  }
}

.home-track-card .card-content {
  flex-grow: 1;
  display: flex;
  flex-direction: row-reverse;
  container-type: inline-size;
  font-size: 1.0625rem;
  @media screen and (min-width: 1024px) {
    padding: 2rem;
  }
}

@media screen and (min-width: 1024px) {
  .home-track-grid > .grid {
    margin: 0 -1rem;
  }
}

.home-track-info {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.olympiad-logo {
  height: 7.5em;
  width: 20%;
  max-width: 7.5em;
  flex-shrink: 0;
  color: var(--bulma-text-strong);
}

.home-track-title {
  margin-bottom: 0.875rem !important;
  padding-right: calc(var(--bulma-card-content-padding) / 4);
}

.home-track-subtitle {
  margin-bottom: 0.625rem;
  padding-right: var(--bulma-card-content-padding);
}

.home-track-go {
  flex-grow: 1;
  display: flex;
  align-items: end;
  color: var(--bulma-link-text);
  padding-right: var(--bulma-card-content-padding);
}

.home-track-go span {
  transition: padding var(--bulma-duration) ease-in-out;
}

@media (hover: hover) {
  .home-track-card:hover .home-track-go span {
    padding-left: 0.5rem;
  }
}
