.lesson-columns {
  --sidebar-width: 21.875rem;
  margin-inline: 0;
  margin: 0 !important;

  > .column {
    padding: 0;
  }
}

// Sidebar column

.sidebar-column {
  flex: none;
  width: calc(var(--sidebar-width) + 1px);
  .navbar-overlay {
    width: var(--sidebar-width);
  }
  > div {
    position: fixed;
    top: 0;
    left: 0;
    width: calc(var(--sidebar-width) + 1px);
    height: 100vh;
    padding-top: var(--bulma-navbar-height);
    border-right: 1px solid var(--bulma-border);
  }
}

@media screen and (max-width: 1023px) {
  .sidebar-column {
    position: fixed;
    top: 0;
    left: calc(var(--sidebar-width) * -1 - var(--bulma-navbar-height));
    width: var(--sidebar-width);
    height: 100%;
    z-index: 15;
    background-color: var(--bulma-scheme-main);
    transition: left var(--bulma-duration) ease-in-out;
  }

  .sidebar-column.is-active {
    left: 0;
  }

  .sidebar-column > div {
    position: static;
    width: 100%;
    height: 100%;
    padding-top: var(--bulma-navbar-height);
    border-right: none;
  }
}

// Navbar

.navbar.navbar-compact {
  @include navbar-animate;
}

.navbar-compact {
  @include navbar-force-dropdown-open;
  position: fixed;
  top: 0;
  width: var(--sidebar-width);

  > .container {
    display: block;
  }

  .navbar-brand {
    width: 100%;
    margin-inline-start: 0 !important;
  }

  .navbar-burger {
    display: inline-flex;
  }

  .navbar-menu {
    display: none;
    width: 100%;
    max-height: calc(100vh - var(--bulma-navbar-height));
    -webkit-overflow-scrolling: touch;
    overflow: auto;
    background-color: var(--bulma-navbar-background-color);
    box-shadow: 0 .5em 1em hsla(var(--bulma-scheme-h),var(--bulma-scheme-s),var(--bulma-scheme-invert-l),.1);
    padding: .5rem 0;
  }

  .navbar-menu.is-active {
    display: block;
  }

  .navbar-end,
  .navbar-end .navbar-item {
    display: block;
  }

  .navbar-dropdown {
    opacity: 1;
    transform: none;
  }

  .navbar-dropdown .navbar-item {
    padding: 0.5rem 1.5rem;
  }
}

// Sidebar overlay

.sidebar-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 13;
  opacity: 0;
  visibility: hidden;
  transition: opacity var(--bulma-duration) ease-in-out, visibility var(--bulma-duration) ease-in-out;
}

.sidebar-overlay.is-active {
  opacity: 1;
  visibility: visible;
}

// Sidebar menu

.sticky-sidebar {
  max-height: calc(100vh - var(--bulma-navbar-height));
  overflow-y: auto;

  .menu-list .menu-item,
  .menu-list a,
  .menu-list button {
    width: auto;
  }
}

.sidebar-column .level {
  flex-direction: row;
  margin-bottom: 0;
  border-bottom: 1px solid var(--bulma-border);
  min-height: var(--bulma-navbar-height);
  padding-left: 0.5em;
  padding-right: 0.5em;

  .level-item {
    flex-shrink: 1;
  }
}

.unit-level {
  position: sticky;
  top: 0;
  z-index: 16;
  background: var(--bulma-scheme-main);
}

.unit-dropdown, .unit-dropdown > .dropdown-trigger {
  width: 100%;
  max-width: 100%;
  overflow-wrap: anywhere;
}

.unit-dropdown > .dropdown-trigger a {
  display: inline-block;
  color: inherit;
  text-decoration: none;
  max-width: 100%;
}

.unit-dropdown > .dropdown-menu {
  --bulma-dropdown-menu-min-width: 100%;
  display: grid;
  min-width: calc(100% + 2em);
  left: 50%;
  max-height: calc(100vh - var(--bulma-navbar-height) - ((var(--bulma-navbar-height) - 100%) / 2 + 100%));
  pointer-events: none;
  opacity: 0;
  transform: translateX(-50%) translateY(-5px);
  transition: opacity var(--bulma-duration) ease-in-out, transform var(--bulma-duration) ease-in-out;

  .dropdown-content {
    border: 1px solid var(--bulma-border);
    overflow-y: auto;
  }

  .dropdown-item {
    font-size: var(--bulma-size-normal);
    white-space: break-spaces;
    padding-inline-end: 1em;
  }
}

.unit-dropdown:hover > .dropdown-menu {
  display: grid !important;
  opacity: 1;
  pointer-events: auto;
  transform: translateX(-50%) translateY(0);
}

.sidebar-column .menu {
  --bulma-menu-list-border-left: 0;
  --bulma-menu-list-link-padding: 1em 1.25em;
  --bulma-menu-nested-list-margin: 0 1.5em;
  --bulma-menu-nested-list-padding-left: 0;
}

.sidebar-collapse {
  --bulma-menu-nested-list-margin: 0;
  border-bottom: 1px solid var(--bulma-border);
}

.sidebar-collapse > summary {
  display: flex;
  align-items: center;
  background-color: hsl(var(--bulma-menu-item-h), var(--bulma-menu-item-s), calc(var(--bulma-menu-item-background-l) + var(--bulma-menu-item-background-l-delta)));
  transition: background-color var(--bulma-duration) ease-in-out;
  @media (hover: hover) {
    &:hover {
      --bulma-menu-item-background-l-delta: var(--bulma-menu-item-hover-background-l-delta);
    }
  }
}

.collapse.sidebar-collapse summary::before {
  display: none;
}

.sidebar-collapse summary::after {
  content: "\f105";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  margin-left: auto;
  margin-right: 0.25em;
}

.sidebar-collapse[open] > summary::after {
  transform: rotate(90deg);
}

.sidebar-toc-collapse {
  --bulma-menu-nested-list-margin: 0;
  --bulma-menu-item-background-l-delta: var(--bulma-menu-item-active-background-l-delta);
  background-color: hsl(var(--bulma-menu-item-h), var(--bulma-menu-item-s), calc(var(--bulma-menu-item-background-l) + var(--bulma-menu-item-background-l-delta)));
}

.sidebar-toc-collapse > summary {
  display: flex;
  align-items: center;
  background-color: hsl(var(--bulma-menu-item-h), var(--bulma-menu-item-s), calc(var(--bulma-menu-item-background-l) + var(--bulma-menu-item-background-l-delta)));
  transition: background-color var(--bulma-duration) ease-in-out;
  @media (hover: hover) {
    &:hover {
      --bulma-menu-item-background-l-delta: var(--bulma-menu-item-hover-background-l-delta);
    }
  }
}

.collapse.sidebar-toc-collapse summary::before {
  display: none;
}

.sidebar-toc-collapse summary::after {
  content: "\f105";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  margin-left: auto;
  margin-right: 0.25em;
}

.sidebar-toc-collapse[open] > summary::after {
  transform: rotate(90deg);
}

.toc.sidebar-toc {
  .toc-level-1 {
    padding-left: calc(3.25em + 0.75em * 1);
  }

  .toc-level-2 {
    padding-left: calc(3.25em + 0.75em * 2);
  }

  .toc-level-3 {
    padding-left: calc(3.25em + 0.75em * 3);
  }

  .toc-level-4 {
    padding-left: calc(3.25em + 0.75em * 4);
  }

  .toc-level-5 {
    padding-left: calc(3.25em + 0.75em * 5);
  }

  .toc-level-6 {
    padding-left: calc(3.25em + 0.75em * 6);
  }

  a {
    color: var(--bulma-text);
  }

  @media (hover: hover) {
    a:hover {
      color: var(--bulma-text);
    }
  }
}

#sidebar-open-button {
  padding: 0.625em;
}

#sidebar-close-button {
  padding: 0.625em;
  background-color: var(--bulma-background);
}

.sidebar-close {
  position: fixed;
  top: 0;
  left: calc(-1 * var(--bulma-navbar-height));
  z-index: 14;
  min-width: var(--bulma-navbar-height);
  min-height: var(--bulma-navbar-height);
  align-content: center;
  text-align: center;
  transition: left var(--bulma-duration) ease-in-out;
}

@media screen and (max-width: 1023px) {
  .sidebar-column.is-active + .sidebar-close {
    left: var(--sidebar-width);
  }
}

// Breadcrumb

.breadcrumb-container {
  position: fixed;
  top: 0;
  left: calc(var(--sidebar-width) + 1px);
  width: calc(100vw - var(--sidebar-width) - 1px);
  z-index: 10;

  @media screen and (max-width: 1023px)
  {
    left: 0;
    width: 100vw;
  }
}

.level.breadcrumb-level {
  min-height: var(--bulma-navbar-height);
  min-width: 100%;
  margin-bottom: 0;
  padding: 0 1.5rem;
  background-color: var(--bulma-scheme-main);
  @media screen and (min-width: 1024px) {
    padding: 0 3rem;
  }
}

.breadcrumb {
  --bulma-breadcrumb-item-active-color: var(--bulma-text);
}

.breadcrumb-level {
  .level-left, .level-right {
    flex-direction: row;
  }
}

.breadcrumb-container ~ .main-content {
  padding-top: var(--bulma-navbar-height);
  @media screen and (min-width: 1024px) {
    max-width: calc(100vw - var(--sidebar-width));
  }
}

// Content

.lesson-section {
  h1, h2, h3, h4, h5, h6 {
    scroll-margin-top: var(--bulma-navbar-height);
  }
}

.toc-title {
  color: var(--bulma-text);
}

.toc {
  .toc-level-1 {
    padding-left: calc(-1em + 1em * 1);
  }

  .toc-level-2 {
    padding-left: calc(-1em + 1em * 2);
  }

  .toc-level-3 {
    padding-left: calc(-1em + 1em * 3);
  }

  .toc-level-4 {
    padding-left: calc(-1em + 1em * 4);
  }

  .toc-level-5 {
    padding-left: calc(-1em + 1em * 5);
  }

  .toc-level-6 {
    padding-left: calc(-1em + 1em * 6);
  }

  div {
    padding: 0.1875em 0em;
  }

  a {
    color: var(--bulma-text-weak);
  }

  @media (hover: hover) {
    a:hover {
      color: var(--bulma-text-hover);
    }
  }
}

.content-separator {
  margin-top: 1.25em;
  margin-bottom: 2em;
}
