// Override harmful margins

body > .columns {
  margin-inline: 0;
  margin: 0 !important;

  > .column {
    padding: 0;
  }
}

// Sidebar column

.sidebar-column {
  flex: none;
  width: calc(20rem + 1px);
  .navbar-overlay {
    width: 20rem;
  }
  > div {
    position: fixed;
    top: 0;
    left: 0;
    width: calc(20rem + 1px);
    height: 100vh;
    padding-top: var(--bulma-navbar-height);
    border-right: 1px solid var(--bulma-border);
  }
}

@media screen and (max-width: 1023px) {
  .sidebar-column {
    position: fixed;
    top: 0;
    left: calc(-20rem - var(--bulma-navbar-height));
    width: 20rem;
    height: 100%;
    z-index: 999;
    background-color: var(--bulma-scheme-main);
    transition: left var(--bulma-duration) ease-in-out;
    overflow-y: auto;
  }

  .sidebar-column.is-active {
    left: 0;
  }

  .sidebar-column > div {
    position: static;
    width: 100%;
    height: 100%;
    padding-top: var(--bulma-navbar-height);
    border-right: none;
  }
}

// Navbar

.navbar.navbar-compact {
  @include navbar-animate;
}

.navbar-compact {
  @include navbar-force-dropdown-open;
  position: fixed;
  top: 0;
  width: 20rem;

  > .container {
    display: block;
  }

  .navbar-brand {
    width: 100%;
    margin-inline-start: 0 !important;
  }

  .navbar-burger {
    display: inline-flex;
  }

  .navbar-menu {
    display: none;
    width: 100%;
    max-height: calc(100vh - var(--bulma-navbar-height));
    -webkit-overflow-scrolling: touch;
    overflow: auto;
    background-color: var(--bulma-navbar-background-color);
    box-shadow: 0 .5em 1em hsla(var(--bulma-scheme-h),var(--bulma-scheme-s),var(--bulma-scheme-invert-l),.1);
    padding: .5rem 0;
  }

  .navbar-menu.is-active {
    display: block;
  }

  .navbar-end,
  .navbar-end .navbar-item {
    display: block;
  }

  .navbar-dropdown {
    opacity: 1;
    transform: none;
  }

  .navbar-dropdown .navbar-item {
    padding: 0.5rem 1.5rem;
  }
}

// Sidebar overlay

.sidebar-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 997;
  opacity: 0;
  visibility: hidden;
  transition: opacity var(--bulma-duration) ease-in-out, visibility var(--bulma-duration) ease-in-out;
}

.sidebar-overlay.is-active {
  opacity: 1;
  visibility: visible;
}

// Sidebar menu

.sticky-sidebar {
  max-height: calc(100vh - var(--bulma-navbar-height));
  overflow-y: auto;

  .menu-list .menu-item,
  .menu-list a,
  .menu-list button {
    width: auto;
  }
}

.sidebar-column .menu {
  --bulma-menu-list-link-padding: 1em 1.25em;
  --bulma-menu-nested-list-margin: 0 1.5em;
  --bulma-menu-nested-list-padding-left: 0;
}

.sidebar-collapse {
  --bulma-menu-nested-list-margin: 0;
  border-bottom: 1px solid var(--bulma-border);
}

.sidebar-collapse summary {
  display: flex;
  align-items: center;
  background-color: hsl(var(--bulma-menu-item-h), var(--bulma-menu-item-s), calc(var(--bulma-menu-item-background-l) + var(--bulma-menu-item-background-l-delta)));
  transition: background-color var(--bulma-duration) ease-in-out;
  @media (hover: hover) {
    &:hover {
      --bulma-menu-item-background-l-delta: var(--bulma-menu-item-hover-background-l-delta);
    }
  }
}

.collapse.sidebar-collapse summary::before {
  display: none;
}

.sidebar-collapse summary::after {
  content: "\f105";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  margin-left: auto;
}

.sidebar-collapse[open] > summary::after {
  transform: rotate(90deg);
}

#sidebar-open-button {
  padding: 0.625em;
}

#sidebar-close-button {
  padding: 0.625em;
  background-color: hsl(221, 14%, 14%);
}

.sidebar-close {
  position: fixed;
  top: 0;
  left: calc(-1 * var(--bulma-navbar-height));
  z-index: 998;
  min-width: var(--bulma-navbar-height);
  min-height: var(--bulma-navbar-height);
  align-content: center;
  text-align: center;
  transition: left var(--bulma-duration) ease-in-out;
}

@media screen and (max-width: 1023px) {
  .sidebar-column.is-active + .sidebar-close {
    left: 20rem;
  }
}

// Breadcrumb

.breadcrumb-container {
  position: fixed;
  top: 0;
  left: 20rem;
  width: calc(100vw - 20rem);
  z-index: 10;

  @media screen and (max-width: 1024px)
  {
    left: 0;
    width: 100vw;
  }
}

.level.breadcrumb-level {
  min-height: var(--bulma-navbar-height);
  min-width: 100%;
  margin-bottom: 0;
  padding: 0 1.5rem;
  background-color: var(--bulma-scheme-main);
  @media screen and (min-width: 1024px) {
    padding: 0 3rem;
  }
}

.breadcrumb {
  --bulma-breadcrumb-item-active-color: var(--bulma-text);
}

.breadcrumb-level {
  .level-left, .level-right {
    flex-direction: row;
  }
}

.breadcrumb-container ~ .main-content {
  padding-top: var(--bulma-navbar-height);
}
