.spoiler {
  border: 1px solid var(--bulma-border);
  border-radius: 6px;
  margin: 1.5em 0;
  background-color: var(--bulma-scheme-main-ter);
}

.spoiler summary {
  padding: 0.75em 1.25em;
  font-weight: 600;
}

.spoiler summary::before {
  color: var(--bulma-primary);
}

.spoiler .collapse-content {
  padding: 0.25em 1.25em 1.25em;
  border-top: 1px solid var(--bulma-border);
}
