.track-hero {
  min-height: calc(65vh - var(--bulma-navbar-height));

  .hero-body {
    display: flex;
    align-items: center;
  }

  .subtitle {
    line-height: 1.5;
    @media screen and (min-width: 769px) {
      margin-inline: auto;
      font-size: 1.375rem;
      max-width: 40ch;
    }
  }
}

.track-toc-section {
  --bulma-section-padding: 1.5rem;
  --bulma-section-padding-desktop: 1.5rem 3rem;
}

@media screen and (min-width: 769px) {
  .track-toc-section .columns {
    margin-inline-start: -1.25rem;
    margin-inline-end: -1.25rem;
    margin-top: 0;
    margin-bottom: 0;
  }

  .track-toc-section .column {
    padding: 0 1.25rem;
  }
}

.unit-info-column {
  border-right: 1px solid var(--bulma-border);
}

.unit-info {
  position: sticky;
  top: var(--bulma-navbar-height);
  padding-top: 1.5rem;

  .title {
    flex-grow: 1;
    margin-bottom: 1rem;
  }

  .button, .button span {
    margin-top: auto;
    margin-bottom: auto;
    transition: padding var(--bulma-duration) ease-in-out, background-color var(--bulma-duration) ease-in-out;
  }
  .button:hover {
    padding-right: calc(var(--bulma-button-padding-horizontal) - var(--bulma-button-border-width) - 0.3125em);
    span {
      padding-left: 0.3125em;
    }
  }
}

.track-toc-section .lesson-grid > .grid {
  gap: 1rem;
}

@media screen and (min-width: 769px) {
  .unit-info {
    text-align: right;
  }
}

@media screen and (max-width: 768px) {
  .unit-info {
    display: flex;
    flex-direction: row;
    background-color: var(--bulma-scheme-main);
    height: 4rem;
    padding-top: 1rem;
    padding-bottom: 0.5rem;
    margin-top: 0.5rem;
    z-index: 5;
    align-items: center;

    .title {
      margin-bottom: 0;
    }
  }

  .track-toc-section .group-title {
    top: calc(var(--bulma-navbar-height) + 2.875rem);
  }
}

@media screen and (max-width: 1023px) {
  .track-toc-section {
    .lesson-grid > .grid {
      --bulma-grid-column-count: 1;
    }
  }
}

.track-toc-section .lesson-group {
  padding-top: 0;
}

.track-toc-section .group-title {
  padding-top: 1.5rem;
  p {
    font-size: 1.75rem;
  }
}

.track-toc-section {
  .lesson-icon, .lesson-title {
    font-size: 1.375rem !important;
  }
}
