.unit-hero {
  .title {
    padding-top: 1.5rem;
    padding-bottom: 1.125rem;
  }
  .subtitle {
    font-size: 1.375rem;
    line-height: 1.5;
    max-width: 40ch;
    @media screen and (min-width: 769px) {
      margin-inline: auto;
    }
  }
  .button, .button span {
    transition: padding var(--bulma-duration) ease-in-out, background-color var(--bulma-duration) ease-in-out;
  }
  .button:hover {
    padding-left: calc(var(--bulma-button-padding-horizontal) - var(--bulma-button-border-width) - 0.375em);
    span {
      padding-right: 0.375em;
    }
  }
}

.group-grid > .grid {
  --bulma-grid-gap: 2.5rem 6.5rem;
  --bulma-grid-column-count: 2;
  @media screen and (max-width: 768px) {
    --bulma-grid-gap: 2.5rem;
    --bulma-grid-column-count: 1;
  }
}

.lesson-link {
  display: flex;
  flex-direction: row;
  padding-top: 1.25em;
}

.lesson-info {
  flex-grow: 1;
}

.group-cell > a {
  text-decoration: none;
  color: var(--bulma-text);
}

@media (hover: hover) {
  .group-cell > a:hover {
    text-decoration: none;
    color: var(--bulma-text-light);
  }
}

.group-cell > a > div {
  transition: padding var(--bulma-duration) ease-in-out;
}

.even-cell > a > div {
  padding-left: 0;
  padding-right: 1rem;
}

@media (hover: hover) {
  .even-cell > a:hover > div {
    padding-left: 1rem;
    padding-right: 0;
  }
}

@media screen and (max-width: 768px) {
  .odd-cell > a > div {
    padding-left: 0;
    padding-right: 1rem;
  }

  @media (hover: hover) {
    .odd-cell > a:hover > div {
      padding-left: 1rem;
      padding-right: 0;
    }
  }
}

.odd-cell .lesson-link .lesson-icon {
  margin-right: 0.5rem;
}

.even-cell .lesson-link .lesson-icon {
  margin-right: 0.5rem;
}

@media screen and (min-width: 769px) {
  .odd-cell {
    text-align: right;
    .lesson-link {
      flex-direction: row-reverse;
      .lesson-icon {
        margin-right: 0;
        margin-left: 0.5rem;
      }
    }
  }

  .odd-cell > a > div {
    padding-left: 1rem;
    padding-right: 0;
  }

  @media (hover: hover) {
    .odd-cell > a:hover > div {
      padding-left: 0;
      padding-right: 1rem;
    }
  }
}

.hero > .hero-body > div {
  width: 100%
}
