.unit-hero {
  .title {
    padding-top: 1.5rem;
    padding-bottom: 1.125rem;
  }
  .subtitle {
    line-height: 1.5;
    @media screen and (min-width: 769px) {
      margin-inline: auto;
      font-size: 1.375rem;
      max-width: 40ch;
    }
  }
  .button, .button span {
    transition: padding var(--bulma-duration) ease-in-out, background-color var(--bulma-duration) ease-in-out;
  }
  .button:hover {
    padding-left: calc(var(--bulma-button-padding-horizontal) - var(--bulma-button-border-width) - 0.375em);
    span {
      padding-right: 0.375em;
    }
  }
}

.unit-toc-section {
  --bulma-section-padding: 1.5rem;
  --bulma-section-padding-desktop: 1.5rem 3rem;
}

.lesson-group {
  display: flex;
  flex-direction: column;
  padding-top: 0.5rem;
}

.group-title {
  position: sticky;
  top: var(--bulma-navbar-height);
  align-self: flex-start;
  width: 100%;
  padding-top: 1rem;
  padding-bottom: 0.25rem;
  background-color: var(--bulma-scheme-main);
}

.lesson-grid {
  padding-bottom: 1.5rem;
}

.lesson-grid > .grid {
  --bulma-grid-column-count: 2;
  gap: 1rem 1.5rem;
  @media screen and (max-width: 768px) {
    --bulma-grid-column-count: 1;
  }
}

.lesson-link {
  display: flex;
  flex-direction: row;
}

.lesson-info {
  flex-grow: 1;
}

.lesson-cell > a {
  text-decoration: none;
  color: var(--bulma-text);
}

@media (hover: hover) {
  .lesson-cell > a:hover {
    text-decoration: none;
    color: var(--bulma-text-light);
  }
}

.lesson-link {
  padding-left: 0;
  padding-right: 1rem;
  transition: padding var(--bulma-duration) ease-in-out;
}

@media (hover: hover) {
  .lesson-cell > a:hover .lesson-link {
    padding-left: 1rem;
    padding-right: 0;
  }
}

.lesson-icon {
  margin-right: 0.5rem;
}

.hero > .hero-body > div {
  width: 100%;
}
