[submodule "ioi"]
	path = content/ioi
	url = git@github.com:OlyPrep/ioi.git
[submodule "content/imo"]
	path = content/imo
	url = https://github.com/OlyPrep/imo.git
[submodule "content/blog"]
	path = content/blog
	url = https://github.com/OlyPrep/blog.git
