{% extends "base.html" %}

{% block title %}
Page Not Found
{% endblock title %}

{% block head_meta %}
<meta name="description" content="This page does not exist.">
<meta property="og:title" content="Page Not Found">
<meta property="og:description" content="This page does not exist.">
<meta property="og:type" content="website">
<meta property="og:image" content="{{ get_url(path='assets/logo.svg') }}">
<meta name="twitter:card" content="summary">
<meta name="twitter:title" content="Page Not Found">
<meta name="twitter:description" content="This page does not exist.">
<meta name="twitter:image" content="{{ get_url(path='assets/logo.svg') }}">
{% endblock head_meta %}

{% block content %}
<main class="main-content">
  <section class="section">
    <div class="container is-max-desktop">
      <div class="columns is-vcentered is-mobile">
        <div class="column is-hidden-mobile is-half meme-404-tablet">
          <img src="/assets/404-landscape.webp" title="Our expert search team looking for the page" alt="Our Search Team: Blind Bart, and... none">
        </div>
        <div class="column column-404">
          <h1 class="title is-1 is-spaced">404</h1>
          <h2 class="subtitle is-4">We looked everywhere, really.</h2>
          <div class="is-hidden-mobile">
            <p class="is-size-5">Even our sophisticated search process failed. This page mustn't exist.</p>
            <a class="button is-primary mt-5" href="/">Return Home</a>
          </div>
        </div>
        <div class="column is-hidden-tablet meme-404-mobile">
          <img src="/assets/404-portrait.webp" title="Our expert search team looking for the page" alt="Our Search Team: Blind Bart, and... none">
        </div>
      </div>
    </div>
    <div class="is-hidden-tablet mt-5">
      <p class="is-size-5">Even our sophisticated search process failed. This page mustn't exist.</p>
      <a class="button is-primary mt-5" href="/">Return Home</a>
    </div>
  </section>
</main>
{% endblock content %}
