{% import "snippet.html" as snippet %}
<!DOCTYPE html>
<html lang="en" class="{% block html_class %}has-navbar-fixed-top{% endblock html_class %}" data-theme="dark">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
      {% block title %}
      {% if page %}
      {{ page.title }}
      {% elif section %}
      {{ section.title }}
      {% endif %}
      {% endblock title %}
      {% block title_suffix %}
      - OlyPrep
      {% endblock title_suffix %}
    </title>
    <link rel="icon" href="/assets/favico.svg" type="image/svg+xml">
    <!-- Google Fonts: Inter -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap" rel="stylesheet">
    <!-- Latest Bulma CSS from CDN -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.1/css/bulma.min.css">
    <!-- Font Awesome -->
    <script src="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@7.1.0/js/all.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@7.1.0/css/all.min.css">
    <!-- Site stylesheet -->
    <link rel="stylesheet" href="{{ get_url(path='css/style.css') }}">
    {% block head_extra %}{% endblock head_extra %}
  </head>

  <body class="{% block body_class %} main-content-parent {% endblock body_class %}">
    {% block header %}
    {{ snippet::navbar() }}
    {% endblock header %}
    {% block content %}
    <main class="main-content">
      <div class="container is-max-widescreen">
        {% if page %}
        {{ page.content | safe }}
        {% elif section %}
        {{ section.content | safe }}
        {% endif %}
      </div>
    </main>
    {% endblock content %}
    {% block footer %}
    {{ snippet::footer() }}
    {% endblock footer %}
    <script src="{{ get_url(path='js/main.js') }}"></script>
    <script src="{{ get_url(path='js/quiz.js') }}"></script>
  </body>
</html>
