{% extends "base.html" %}

{% block content %}
<article>
  <div class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
    <div class="post-meta">
      <span class="author">By
        {% if page.authors | length == 1 %}
        {{ page.authors[0] }}
        {% else %}
        {{ page.authors | slice(end = page.authors | length - 1) | join(sep=", ") }}
        and {{ page.authors | last }}
        {% endif %}
      </span> |
      <span class="date"><time datetime="{{ page.date | date(format='%Y-%m-%d') }}">
        Published: {{ page.date | date(format='%B %e, %Y') }}
      </time></span>
      {% if page.updated and page.updated != page.date %}
      | <span class="date"><time datetime="{{ page.updated | date(format='%Y-%m-%d') }}">
        Updated: {{ page.updated | date(format='%B %e, %Y') }}
      </time></span>
      {% endif %}

    </div>
  </div>
  <hr/>
  <div class="post-content">
    {{ page.content | safe }}
  </div>
</article>
{% endblock content %}
