{% extends "base.html" %}

{% block title %}
OlyPrep - Olympiad Resources, Unified
{% endblock title %}
{% block title_suffix %}
{% endblock title_suffix %}

{% block content %}
<main class="main-content">
  <section class="hero is-fullheight-with-navbar">
    <div class="hero-body">
      <div class="centered-on-tablet">
        <h1 class="title landing-title"><span class="landing-title-oly">Oly</span><span class="landing-title-prep">Prep</span></h1>
        <h2 class="subtitle landing-subtitle">
          Free, <strong>high-quality olympiad resources</strong>
          curated by <strong>top performers and medalists</strong>
          for the next-generation of winners.
        </h2>
        <a class="button landing-button is-primary is-medium" href="#tracks">
          Get started<span class="ml-2"><i class="fa-solid fa-arrow-right"></i></span>
        </a>
      </div>
    </div>
  </section>
  <section id="tracks" class="section home-tracks-section has-background-primary-25">
    <div class="container is-widescreen">
      <h2 class="title home-section-title">Take your Pick<span class="ml-2"><i class="fa-solid fa-arrow-right"></i></span></h2>
      <div class="fixed-grid home-track-grid">
        <div class="grid">
          {% for track_index in section.subsections %}
          {% set track = get_section(path=track_index) %}
          {% if track.extra.hook_title %}
          {% set track_id = track.components | last %}
          <div class="grid-cell">
            <a href="{{ track.permalink }}">
              <div class="card home-track-card">
                <div class="card-content">
                  {{ load_data(path=track.components | concat(with="track-logo.svg") | join(sep="/"), format="plain") | safe }}
                  <div class="home-track-info">
                    <h3 class="title home-track-title">{{ track.extra.hook_title }}</h3>
                    <p class="home-track-subtitle">{{ track.extra.hook_subtitle }}</p>
                    <div class="home-track-go"><p>Start learning<span class="ml-2"><i class="fa-solid fa-arrow-right"></i></span></p></div>
                  </div>
                </div>
              </div>
            </a>
          </div>
          {% endif %}
          {% endfor %}
        </div>
      </div>
    </div>
  </section>
</main>
{% endblock content %}
