{% import "base.html" as base %}
{% extends "base.html" %}

{% macro sidebar_toc(toc, level=1) %}
{% if toc %}
<ul class="toc sidebar-toc">
  {% for head in toc %}
  <li>
    <a class="toc-level-{{ level }}" href="{{ head.permalink | safe }}">
      {{ head.title }}
    </a>
    {{ self::sidebar_toc(toc=head.children, level=level + 1) }}
  </li>
  {% endfor %}
</ul>
{% endif %}
{% endmacro sidebar_toc %}

{% block html_class %}{% endblock html_class %}

{% block header %}
{% endblock header %}

{% block body_class %}
{% endblock body_class %}

{% block content %}

{% set track = get_section(path=page.components | slice(start=0, end=1) | concat(with="_index.md") | join(sep="/")) %}
{% set unit = get_section(path=page.components | slice(start=0, end=2) | concat(with="_index.md") | join(sep="/")) %}

{% set unit_list = [] %}
{% for unit_id in track.extra.units %}
  {% set_global unit_list = unit_list | concat(with=unit_id) %}
{% endfor %}

{% for unit_id in unit_list %}
  {% if unit_id == page.components[1] %}
    {% set_global unit_index = loop.index0 %}
  {% endif %}
{% endfor %}

{% if unit_index > 0 %}
  {% set index = unit_index - 1 %}
  {% set_global prev_unit = get_section(path=page.components | slice(start=0, end=1) | concat(with=unit_list[index] ~ "/_index.md") | join(sep="/")) %}
{% endif %}

{% if unit_index < unit_list | length - 1 %}
  {% set index = unit_index + 1 %}
  {% set_global next_unit = get_section(path=page.components | slice(start=0, end=1) | concat(with=unit_list[index] ~ "/_index.md") | join(sep="/")) %}
{% endif %}

{% set lesson_list = [] %}
{% for group, lessons in unit.extra.groups %}
  {% for lesson in lessons %}
    {% set_global lesson_list = lesson_list | concat(with=lesson) %}
  {% endfor %}
{% endfor %}

{% for lesson in lesson_list %}
  {% if lesson == page.components[2] %}
    {% set_global lesson_index = loop.index0 %}
  {% endif %}
{% endfor %}

{% if lesson_index > 0 %}
  {% set index = lesson_index - 1 %}
  {% set_global prev_lesson = get_page(path=page.components | slice(start=0, end=2) | concat(with=lesson_list[index] ~ ".md") | join(sep="/")) %}
{% endif %}

{% if lesson_index != -1 and lesson_index < lesson_list | length - 1 %}
  {% set index = lesson_index + 1 %}
  {% set_global next_lesson = get_page(path=page.components | slice(start=0, end=2) | concat(with=lesson_list[index] ~ ".md") | join(sep="/")) %}
{% endif %}

<div id="sidebar-overlay" class="sidebar-overlay"></div>
<div class="columns lesson-columns">
  <div id="sidebar" class="column sidebar-column">
    <div>
      {{ base::navbar(fixed=false, compact=true) }}
      <aside class="menu sticky-sidebar">
        <div class="level unit-level">
          <div class="level-left">
            <a class="mx-1 my-2" {% if prev_unit %} href="{{ prev_unit.permalink }}" {% else %} disabled {% endif %}><i class="fa-solid fa-angle-left"></i>Prev</a>
          </div>
          <div class="level-item">
            <div class="dropdown unit-dropdown is-hoverable">
              <div class="dropdown-trigger has-text-centered">
                <a class="mx-1 my-2" aria-haspopup="true" aria-controls="unit-menu">
                  {{ unit.title }}<span class="ml-1"><i class="fas fa-angle-down"></i></span>
                </a>
              </div>
              <div class="dropdown-menu" id="unit-menu" role="menu">
                <div class="dropdown-content">
                  {% for uid in unit_list %}
                  {% set unit = get_section(path=page.components | slice(start=0, end=1) | concat(with=uid ~ "/_index.md") | join(sep="/")) %}
                  {% if uid == page.components[1] %}
                  <a class="dropdown-item has-background-primary">{{ unit.title }}</a>
                  {% else %}
                  {% set_global first_lesson = [] %}
                  {% for group, lessons in unit.extra.groups %}
                  {% for lesson_id in lessons %}
                  {% if not first_lesson %}
                  {% set_global first_lesson = get_page(path=unit.components | concat(with=lesson_id ~ ".md") | join(sep="/")) %}
                  {% endif %}
                  {% endfor %}
                  {% endfor %}
                  <a class="dropdown-item" href="{{ first_lesson.permalink }}">{{ unit.title }}</a>
                  {% endif %}
                  {% endfor %}
                </div>
              </div>
            </div>
          </div>
          <div class="level-right">
            <a class="mx-1 my-2" {% if next_unit %} href="{{ next_unit.permalink }}" {% else %} disabled {% endif %}>Next<i class="fa-solid fa-angle-right"></i></a>
          </div>
        </div>
        <ul class="menu-list">
          {% for group, lessons in unit.extra.groups %}
          <li>
            <details class="collapse sidebar-collapse" open="">
              <summary>{{ group }}</summary>
              <ul>
                {% for lesson_id in lessons %}
                {% set lesson = get_page(path=page.components | slice(start=0, end=2) | concat(with=lesson_id ~ ".md") | join(sep="/")) %}
                <li>
                  {% if lesson.permalink == page.permalink %}
                  <details id="currentLesson" class="collapse sidebar-toc-collapse" open="">
                    <summary>
                      <div>
                        <span class="mr-2"><i class="fa-solid fa-book-open"></i></span>
                        {{ lesson.title }}
                      </div>
                    </summary>
                    {{ self::sidebar_toc(toc=page.toc) }}
                  </details>
                  {% else %}
                  <a href="{{ lesson.permalink }}">
                    <div>
                      <span class="mr-2"><i class="fa-solid fa-book-open"></i></span>
                      {{ lesson.title }}
                    </div>
                  </a>
                  {% endif %}
                </li>
                {% endfor %}
              </ul>
            </details>
          </li>
          {% endfor %}
        </ul>
      </aside>
      <script>
        (function() {
          const sidebar = document.querySelector('.sticky-sidebar');
          const currentLesson = document.getElementById('currentLesson');
          if (sidebar && currentLesson) {
            const sidebarRect = sidebar.getBoundingClientRect();
            const currentLessonRect = currentLesson.getBoundingClientRect();
            const relativeTop = currentLessonRect.top - sidebarRect.top;
            const offset = sidebar.clientHeight * 0.20;
            sidebar.scrollTop = sidebar.scrollTop + relativeTop - offset;
          }
        })();
      </script>
    </div>
  </div>
  <div class="sidebar-close">
    <a id="sidebar-close-button" class="button is-hidden-desktop"><i class="fa-solid fa-angles-left"></i></a>
  </div>
  <div class="column main-column main-content-parent">
    <div class="breadcrumb-container">
      <div class="container is-max-desktop">
        <div class="level breadcrumb-level is-mobile">
          <div class="level-left">
            <a id="sidebar-open-button" class="button is-hidden-desktop"><i class="fa-solid fa-angles-right"></i></a>
            <a class="is-hidden-mobile mx-2 my-2" {% if prev_lesson %} href="{{ prev_lesson.permalink }}" {% else %} disabled {% endif %}><i class="fa-solid fa-angle-left"></i>Prev</a>
          </div>
          <div class="level-item has-text-centered is-hidden-mobile">
            <nav class="breadcrumb" aria-label="breadcrumbs">
              <ul>
                <li><a class="my-2" href="{{ track.permalink }}">{{ track.title }}</a></li>
                <li><a class="my-2" href="{{ unit.permalink }}">{{ unit.title }}</a></li>
                <li class="is-active"><a class="my-2" aria-current="page">{{ page.title }}</a></li>
              </ul>
            </nav>
          </div>
          <div class="level-right">
            <a class="is-hidden-tablet mx-2 my-2" {% if prev_lesson %} href="{{ prev_lesson.permalink }}" {% else %} disabled {% endif %}><i class="fa-solid fa-angle-left"></i>Prev</a>
            <a class="mx-2 my-2" {% if next_lesson %} href="{{ next_lesson.permalink }}" {% else %} disabled {% endif %}>Next<i class="fa-solid fa-angle-right"></i></a>
          </div>
        </div>
      </div>
    </div>
    <div class="main-content">
      <div class="container is-max-desktop">
        <section class="section lesson-section">
          <h1 class="title is-2">{{ page.title }}</h1>
          <p class="subtitle is-6 mt-2 is-italic has-text-text-100">{{ page.description }}</p>
          {% if page.toc %}
          <p class="title toc-title is-4 mt-5 mb-3">Table of Contents</p>
          {{ base::toc(toc=page.toc) }}
          {% endif %}
          <hr class="content-separator">
          <div class="content">
            {{ page.content | safe }}
          </div>
        </section>
      </div>
    </div>
    {{ base::footer() }}
  </div>
</div>
{% endblock content %}

{% block footer %}
{% endblock footer %}
