{% import "snippet.html" as snippet %}
{% extends "base.html" %}

{% block html_class %}{% endblock html_class %}

{% block header %}
{% endblock header %}

{% block body_class %}
{% endblock body_class %}

{% block content %}

{% set path = page.path | split(pat="/") %}
{% set track_map = load_data(path=path[1] ~ "/map.json", format="json") %}
{% set unit_map = track_map.toc[path[2]] %}

{% set unit_list = [] %}
{% for unit, groups in track_map.toc %}
  {% set_global unit_list = unit_list | concat(with=unit) %}
{% endfor %}

{% for unit in unit_list %}
  {% if unit == path[2] %}
    {% set_global unit_index = loop.index0 %}
  {% endif %}
{% endfor %}

{% if unit_index > 0 %}
  {% set index = unit_index - 1 %}
  {% set_global prev_unit = unit_list[index] %}
{% endif %}

{% if unit_index < unit_list | length - 1 %}
  {% set index = unit_index + 1 %}
  {% set_global next_unit = unit_list[index] %}
{% endif %}

{% set lesson_list = [] %}
{% for group_name, lessons in unit_map %}
  {% for lesson in lessons %}
    {% set_global lesson_list = lesson_list | concat(with=lesson) %}
  {% endfor %}
{% endfor %}

{% for lesson in lesson_list %}
  {% if lesson == path[3] %}
    {% set_global lesson_index = loop.index0 %}
  {% endif %}
{% endfor %}

{% if lesson_index > 0 %}
  {% set index = lesson_index - 1 %}
  {% set_global prev_lesson = lesson_list[index] %}
{% endif %}

{% if lesson_index != -1 and lesson_index < lesson_list | length - 1 %}
  {% set index = lesson_index + 1 %}
  {% set_global next_lesson = lesson_list[index] %}
{% endif %}

<div id="sidebar-overlay" class="sidebar-overlay"></div>
<div class="columns">
  <div id="sidebar" class="column sidebar-column">
    <div>
      {{ snippet::navbar(fixed=false, compact=true) }}
      <aside class="menu sticky-sidebar">
        <div class="level unit-level">
          <div class="level-left">
            <a class="mx-1 my-2" {% if prev_unit %} href="{{ get_url(path=path[1] ~ '/' ~ prev_unit ~ '/') }}" {% else %} disabled {% endif %}><i class="fa-solid fa-angle-left"></i>Prev</a>
          </div>
          <div class="level-item">
            <div class="dropdown unit-dropdown is-hoverable">
              <div class="dropdown-trigger has-text-centered">
                <a class="mx-1 my-2" aria-haspopup="true" aria-controls="unit-menu">
                  {% set unit = get_section(path=path[1] ~ '/' ~ path[2] ~ '/_index.md') %}
                  {{ unit.title }}<i class="fas fa-angle-down"></i>
                </a>
              </div>
              <div class="dropdown-menu" id="unit-menu" role="menu">
                <div class="dropdown-content">
                  {% for uid in unit_list %}
                  {% set unit = get_section(path=path[1] ~ '/' ~ uid ~ '/_index.md') %}
                  <a class="dropdown-item {% if uid == path[2] %} has-background-primary {% endif %}" {% if uid != path[2] %} {{ unit.permalink }} {% endif %}>{{ unit.title }}</a>
                  {% endfor %}
                </div>
              </div>
            </div>
          </div>
          <div class="level-right">
            <a class="mx-1 my-2" {% if next_unit %} href="{{ get_url(path=path[1] ~ '/' ~ next_unit ~ '/') }}" {% else %} disabled {% endif %}>Next<i class="fa-solid fa-angle-right"></i></a>
          </div>
        </div>
        <ul class="menu-list">
          {% for group, lessons in unit_map %}
          <li>
            <details class="collapse sidebar-collapse" open="">
              <summary>{{ group }}</summary>
              <ul>
                {% for lesson_id in lessons %}
                {% set lesson = get_page(path=path[1] ~ '/' ~ path[2] ~ '/' ~ lesson_id ~ '.md') %}
                <li>
                  <a href="{{ get_url(path=lesson.path) }}">
                    <span class="mr-2"><i class="fa-solid fa-book-open"></i></span>
                    {{ lesson.title }}
                  </a>
                </li>
                {% endfor %}
              </ul>
            </details>
          </li>
          {% endfor %}
        </ul>
      </aside>
    </div>
  </div>
  <div class="sidebar-close">
    <a id="sidebar-close-button" class="button is-hidden-desktop"><i class="fa-solid fa-angles-left"></i></a>
  </div>
  <div class="column main-column main-content-parent">
    <div class="breadcrumb-container">
      <div class="container is-max-desktop">
        <div class="level breadcrumb-level is-mobile">
          <div class="level-left">
            <a id="sidebar-open-button" class="button is-hidden-desktop"><i class="fa-solid fa-angles-right"></i></a>
            <a class="is-hidden-mobile mx-2 my-2" {% if prev_lesson %} href="{{ get_url(path=path[1] ~ '/' ~ path[2] ~ '/' ~ prev_lesson ~ '/') }}" {% else %} disabled {% endif %}><i class="fa-solid fa-angle-left"></i>Prev</a>
          </div>
          <div class="level-item has-text-centered is-hidden-mobile">
            <nav class="breadcrumb" aria-label="breadcrumbs">
              <ul>
                <li><a class="my-2" href="{{ get_url(path=path[1] ~ '/') }}">{{ track_map.name }}</a></li>
                {% set unit = get_section(path=path[1] ~ '/' ~ path[2] ~ '/_index.md') %}
                <li><a class="my-2" href="{{ unit.permalink }}">{{ unit.title }}</a></li>
                <li class="is-active"><a class="my-2" aria-current="page">{{ page.title }}</a></li>
              </ul>
            </nav>
          </div>
          <div class="level-right">
            <a class="is-hidden-tablet mx-2 my-2" {% if prev_lesson %} href="{{ get_url(path=path[1] ~ '/' ~ path[2] ~ '/' ~ prev_lesson ~ '/') }}" {% else %} disabled {% endif %}><i class="fa-solid fa-angle-left"></i>Prev</a>
            <a class="mx-2 my-2" {% if next_lesson %} href="{{ get_url(path=path[1] ~ '/' ~ path[2] ~ '/' ~ next_lesson ~ '/') }}" {% else %} disabled {% endif %}>Next<i class="fa-solid fa-angle-right"></i></a>
          </div>
        </div>
      </div>
    </div>
    <div class="main-content">
      <div class="container is-max-desktop">
        <section class="section">
          <h1 class="title is-1">{{ page.title }}</h1>
          <div class="content">
            {{ page.content | safe }}
          </div>
        </section>
      </div>
    </div>
    {{ snippet::footer() }}
  </div>
</div>
{% endblock content %}

{% block footer %}
{% endblock footer %}
