{% import "snippet.html" as snippet %}
{% extends "base.html" %}

{% block title %}
{{ section.title }}
{% endblock title %}

{% block content %}
{% set path = section.path | split(pat="/") %}
{% set track_map = load_data(path="content/" ~ path[1] ~ "/map.json", format="json") %}
<main class="main-content">
  <section class="hero is-primary is-medium">
    <div class="hero-body">
      <div class="has-text-centered">
        <h1 class="title is-1 is-spaced">{{ section.title }}</h1>
        <p class="subtitle">{{ section.description }}</p>
      </div>
    </div>
  </section>
  <section class="section track-toc-section">
    <div class="container track-toc is-fullhd">
      {% for uid, map in track_map.toc %}
      {% set unit = get_section(path=path[1] ~ '/' ~ uid ~ '/_index.md') %}
      <div class="unit-name-sticky">
        <h2 class="title is-2">{{ unit.title }}</h2>
        <p class="is-size-6 mb-5 is-hidden-mobile">{{ unit.description }}</p>
        <a class="button" href="{{ unit.permalink }}">
          More<span class="ml-1"><i class="fa-solid fa-arrow-right"></i></span>
        </a>
      </div>
      <p class="is-size-6 mt-2 mb-6 is-hidden-tablet">{{ unit.description }}</p>
      {{ snippet::unit_lessons(track=path[1], unit=uid) }}
    </div>
    {% endfor %}
</div>
  </section>
</main>
{% endblock content %}
