{% import "unit.html" as unit %}
{% extends "base.html" %}

{% block title %}
{{ section.title }} Track
{% endblock title %}

{% block head_meta %}
<meta name="description" content="{{ section.description }}">
<meta property="og:title" content="{{ section.title }} Track">
<meta property="og:description" content="{{ section.description }}">
<meta property="og:type" content="website">
<meta property="og:url" content="{{ section.permalink }}">
<meta property="og:image" content="{{ get_url(path='assets/logo.svg') }}">
<meta name="twitter:card" content="summary">
<meta name="twitter:title" content="{{ section.title }} Track">
<meta name="twitter:description" content="{{ section.description }}">
<meta name="twitter:image" content="{{ get_url(path='assets/logo.svg') }}">
{% endblock head_meta %}

{% block content %}
<main class="main-content">
  <section class="hero track-hero is-primary">
    <div class="hero-body">
      <div class="centered-on-tablet">
        <h1 class="title is-1 is-spaced">{{ section.title }} Track</h1>
        <p class="subtitle">{{ section.description }}</p>
      </div>
    </div>
  </section>
  <section class="section track-toc-section">
    {% for unit_id in section.extra.units %}
    {% set unit = get_section(path=section.components | concat(with=unit_id ~ "/_index.md") | join(sep="/")) %}
    <div class="container is-fullhd">
      <div class="unit-info is-hidden-tablet">
        <h2 class="title is-3">{{ unit.title }}</h2>
        <a class="button" href="{{ unit.permalink }}">
          More<span class="ml-1"><i class="fa-solid fa-arrow-right"></i></span>
        </a>
      </div>
      <p class="is-size-6 mt-2 mb-5 is-hidden-tablet">{{ unit.description }}</p>
      <div class="columns">
        <div class="column unit-info-column is-5-tablet is-one-third-desktop">
          <div class="unit-info is-hidden-mobile">
            <h2 class="title is-3">{{ unit.title }}</h2>
            <p class="is-size-6 mb-5">{{ unit.description }}</p>
            <a class="button" href="{{ unit.permalink }}">
              More<span class="ml-1"><i class="fa-solid fa-arrow-right"></i></span>
            </a>
          </div>
        </div>
        <div class="column">
          {{ unit::toc(unit=unit) }}
        </div>
      </div>
    </div>
    {% endfor %}
    {% if section.extra.units | length == 0 %}
    <div class="has-text-centered"><img style="width: 25rem" src="/assets/404-landscape.webp"></div>
    {% endif %}
  </section>
</main>
{% endblock content %}
