{% import "unit.html" as unit %}
{% extends "base.html" %}

{% block title %}
{{ section.title }} Track
{% endblock title %}

{% block content %}
<main class="main-content">
  <section class="hero track-hero is-primary">
    <div class="hero-body">
      <div class="centered-on-tablet">
        <h1 class="title is-1 is-spaced">{{ section.title }} Track</h1>
        <p class="subtitle">{{ section.description }}</p>
      </div>
    </div>
  </section>
  <section class="section track-toc-section">
    {% for unit_id in section.extra.units %}
    {% set unit = get_section(path=section.components | concat(with=unit_id ~ "/_index.md") | join(sep="/")) %}
    <div class="container track-toc is-fullhd">
      <div class="unit-name-sticky">
        <div>
          <h2 class="title is-2">{{ unit.title }}</h2>
          <p class="is-size-6 mb-5 is-hidden-mobile">{{ unit.description }}</p>
          <a class="button" href="{{ unit.permalink }}">
            More<span class="ml-1"><i class="fa-solid fa-arrow-right"></i></span>
          </a>
        </div>
      </div>
      <p class="is-size-6 mt-2 mb-6 is-hidden-tablet">{{ unit.description }}</p>
      {{ unit::toc(unit=unit) }}
    </div>
    {% endfor %}
    {% if section.extra.units | length == 0 %}
    <div class="has-text-centered"><img style="width: 25rem" src="https://i.imgflip.com/4xyjge.png"></div>
    {% endif %}
  </section>
</main>
{% endblock content %}
