{% extends "base.html" %}

{% macro toc(unit) %}
{% for group, lessons in unit.extra.groups %}
<div class="lesson-group">
  <div class="group-title"><p class="title is-3 pb-2">{{ group }}</p></div>
  <div class="fixed-grid lesson-grid mt-3">
    <div class="grid">
      {% for lesson_id in lessons %}
      {% set lesson = get_page(path=unit.components | concat(with=lesson_id ~ ".md") | join(sep="/")) %}
      <div class="cell lesson-cell">
        <a href="{{ lesson.permalink }}">
          <div class="lesson-link">
            <p class="is-size-4 lesson-icon"><i class="fa-solid fa-book-open"></i></p>
            <div class="lesson-info">
              <p class="is-size-4 lesson-title">{{ lesson.title }}</p>
              {% if lesson.description %}
              <p class="is-size-6">{{ lesson.description }}</p>
              {% endif %}
            </div>
          </div>
        </a>
      </div>
      {% endfor %}
      {% if lessons | length == 0 %}
      <img style="width: 25rem" src="/assets/404-landscape.webp">
      {% endif %}
    </div>
  </div>
</div>
{% endfor %}
{% if unit.extra.groups | length == 0 %}
<div class="has-text-centered"><img style="width: 25rem" src="/assets/404-landscape.webp"></div>
{% endif %}
{% endmacro toc %}

{% block title %}
{% set track = get_section(path=section.components | slice(start=0, end=1) | concat(with="_index.md") | join(sep="/")) %}
{{ section.title }} - {{ track.title }}
{% endblock title %}

{% block content %}
{% set track = get_section(path=section.components | slice(start=0, end=1) | concat(with="_index.md") | join(sep="/")) %}
<main class="main-content">
  <section class="hero unit-hero is-primary is-small">
    <div class="hero-body">
      <div class="centered-on-tablet pt-4 pb-5">
        <a class="button has-text-black has-background-primary" href="{{ track.permalink }}">
          <span class="mr-1"><i class="fa-solid fa-arrow-left"></i></span>
          Back to {{ track.title }} home
        </a>
        <h1 class="title is-1">{{ section.title }}</h1>
        <p class="subtitle">{{ section.description }}</p>
      </div>
    </div>
  </section>
  <section class="section unit-toc-section">
    <div class="container">
      <div class="container is-max-widescreen">
        {{ self::toc(unit=section) }}
      </div>
    </div>
  </section>
</main>
{% endblock content %}
